.poll_icon_question{background: url(../images/poll_survey_question.png) no-repeat; display:inline-block; width:15px; height:16px;background-size:15px 16px;vertical-align:middle; background-position:center center;}
.poll_icon_point{background: url(../images/poll_survey_point.png) 0 0 no-repeat; display:inline-block; width:16px; height:16px;background-size:16px 16px;vertical-align:middle; margin-right:5px;}
.poll_icon_time{background: url(../images/poll_survey_time.png) 0 0 no-repeat; display:inline-block; width:14px; height:16px;background-size:14px 16px;vertical-align:middle;}
.poll_icon_type{background: url(../images/poll_survey_type.png) 0 0 no-repeat; display:inline-block; width:14px; height:16px;background-size:14px 16px;vertical-align:middle;}

.poll_icon_cal{background: url(../images/poll_survey_cal.png) 0 0 no-repeat; display:inline-block; width:15px; height:16px;background-size:15px 16px;vertical-align:middle;}
.poll_icon_service{background: url(../images/bul_mo_ico.png) 0 0 no-repeat; display:inline-block; width:15px; height:16px;background-size:15px 16px;vertical-align:middle;}
.poll_icon_service2{background: url(../images/bul_pc_ico.png) 0 0 no-repeat; display:inline-block; width:15px; height:16px;background-size:15px 16px;vertical-align:middle;}
.poll_icon_service3{background: url(../images/bul_pm_ico.png) 0 0 no-repeat; display:inline-block; width:15px; height:16px;background-size:15px 16px;vertical-align:middle;}

.poll_icon_red_question{background: url(../images/poll_survey_red_question.png) no-repeat; display:inline-block; width:15px; height:16px;background-size:15px 16px;vertical-align:middle; background-position:center center;}
.poll_icon_red_point{background: url(../images/poll_survey_red_point.png) 0 0 no-repeat; display:inline-block; width:16px; height:16px;background-size:16px 16px;vertical-align:middle; margin-right:5px;}
.poll_icon_red_time{background: url(../images/poll_survey_red_time.png) 0 0 no-repeat; display:inline-block; width:14px; height:16px;background-size:14px 16px;vertical-align:middle;}
.poll_icon_green_question{background: url(../images/poll_survey_green_question.png) no-repeat; display:inline-block; width:15px; height:16px;background-size:15px 16px;vertical-align:middle; background-position:center center;}
.poll_icon_green_point{background: url(../images/poll_survey_green_point.png) 0 0 no-repeat; display:inline-block; width:16px; height:16px;background-size:16px 16px;vertical-align:middle; }
.poll_icon_green_time{background: url(../images/poll_survey_green_time.png) 0 0 no-repeat; display:inline-block; width:14px; height:16px;background-size:14px 16px;vertical-align:middle;}

.poll_icon_question_off{background: url(../images/poll_survey_question_off.png) no-repeat; display:inline-block; width:15px; height:16px;background-size:15px 16px;vertical-align:middle; background-position:center center;}
.poll_icon_point_off{background: url(../images/poll_survey_point_off.png) 0 0 no-repeat; display:inline-block; width:16px; height:16px;background-size:16px 16px;vertical-align:middle; margin-right:5px;}
.poll_icon_time_off{background: url(../images/poll_survey_time_off.png) 0 0 no-repeat; display:inline-block; width:14px; height:16px;background-size:14px 16px;vertical-align:middle;}
.poll_icon_type_off{background: url(../images/poll_survey_type_off.png) 0 0 no-repeat; display:inline-block; width:14px; height:16px;background-size:14px 16px;vertical-align:middle;}

.poll_icon_cal_off{background: url(../images/poll_survey_cal_off.png) 0 0 no-repeat; display:inline-block; width:15px; height:16px;background-size:15px 16px;vertical-align:middle;}

.poll_list_title{overflow: hidden;}
.poll_list_title .plist_title{float: left;}
.poll_list_title .plist_update{float: right; color:#c5a8a8;}
.poll_list_title .plist_title_b{float: left;}
.poll_list_title .plist_update_b{float: right; color:#91aa8f;}

.poll_list .ui-btn-up-e { border:1px solid #328c2b; background:#328c2b; font-weight:700; color:#fff; text-shadow:none; }

.power_type_list_wrap{ position:relative;}
.power_item_info>ul{ overflow:hidden;list-style: none;padding:0; width:100%;}
.power_item_info>ul li{ float:left; background-color:#fff;border-bottom:1px solid #dfe3e9; width:100%; position:relative;}
.power_item_info>ul li a{display:block;margin:10px 11px; overflow:hidden;}
.power_item_info .power_icon{ display:inline-block; width:38px;height:38px;vertical-align:middle}
.power_item_info .power_title{ display:inline-block;font-size:16px; color:#333333;margin-left:12px;}
.power_item_info .power_update{ display:inline-block;font-size:12px; color:#ff0000; float:right;margin-top:12px;margin-right:22px;}
.power_item_info .power_arrow_right{background: url(../images/power_arrow_right.png) 0 0 no-repeat; display:inline-block;width:10px; height:17.5px;background-size:10px 17.5px; vertical-align:middle; float:right;margin-top:10px;}
.power_item_info .power_arrow_right.off{/*background:none;*/}
.power_item_info .power_icon.type1{background: url(../images/power_icon1.png) 0 0 no-repeat; display:inline-block;width:38px; height:38px;background-size:38px 38px;}
.power_item_info .power_icon.type2{background: url(../images/power_icon2.png) 0 0 no-repeat; display:inline-block;width:38px; height:38px;background-size:38px 38px;}
.power_item_info .power_icon.type3{background: url(../images/power_icon3.png) 0 0 no-repeat; display:inline-block;width:38px; height:38px;background-size:38px 38px;}
.power_item_info .power_icon.type4{background: url(../images/power_icon4.png) 0 0 no-repeat; display:inline-block;width:38px; height:38px;background-size:38px 38px;}
.power_item_info .power_icon.type5{background: url(../images/power_icon5.png) 0 0 no-repeat; display:inline-block;width:38px; height:38px;background-size:38px 38px;}
.power_item_info .power_icon.type6{background: url(../images/power_icon6.png) 0 0 no-repeat; display:inline-block;width:38px; height:38px;background-size:38px 38px;}
.power_item_info .power_icon.type7{background: url(../images/power_icon7.png) 0 0 no-repeat; display:inline-block;width:38px; height:38px;background-size:38px 38px;}
.power_item_info .power_icon.type8{background: url(../images/power_icon8.png) 0 0 no-repeat; display:inline-block;width:38px; height:38px;background-size:38px 38px;}
.power_item_info .power_icon.type9{background: url(../images/power_icon9.png) 0 0 no-repeat; display:inline-block;width:38px; height:38px;background-size:38px 38px;}

.none_div{ position:absolute; top:0px; left:0px; width:100%;background:rgba(0, 0, 0, 0.8) none repeat scroll 0 0 !important; z-index:100000000000; height:100%;}
.none_div{display:block; color:#ffffff; text-align:center; line-height:59px; height:59px;}
.ui-controlgroup-controls{margin-left:5px;}


.ul_agree {padding:0;}
.ul_agree li{display:block;position:relative;}

#pointMallItemInfo_page div.ui-input-text{margin:0;}
#pointMallItemInfo_page .pointmall_detail_wrap .ui-btn{margin:0 !important;}
#pointMallItemInfo_page .ui-mini .ui-btn-inner {font-size:16px}
#pointMallItemInfo_page .bank_wrap{display:none;}


.ul_gauge_wrap{overflow:hidden;list-style:none;padding:0;display:inline-block;margin:23px 0 0 0;}
.ul_gauge_wrap li{float:left;}
.ul_gauge_wrap canvas{padding: 15px 0px 17px 0px;}
.div_gauge_wrap{margin:0 auto;}

.home_menu .ui-bar-c{border:0;}
.home_menu .border_bottom_right{border-right:1px solid #5B5B5B;border-bottom:1px solid #5B5B5B;}
.home_menu .border_bottom{border-bottom:1px solid #5B5B5B;}

.ui-btn-right.top_menu_btn.ui-btn.ui-btn-up-a.ui-shadow.ui-btn-corner-all.ui-btn-icon-left{margin-right:-5px;}
.ui-btn-right.top_menu_btn.ui-btn:hover{margin-right:-5px;}
#rightpanel1{width:100%; height:100%; background: rgba(32,32,32,1) !important;  overflow-y:hidden; position:fixed; display:block !important; box-sizing:border-box;}

fieldset .ui-input-search,fieldset div.ui-input-text{margin:0;}

/*fieldset .ui-checkbox input,fieldset .ui-radio input {left:0;}*/

.etc_btn{width:100px; text-align:center; cursor:pointer; border-radius:3px; background:#4087F1; border:1px solid #4087F1; color:#ffffff; font-size:16px; padding:0.6em 20px; margin:auto; font-weight:bold; margin-top:20px;}


.right_panel .menu_icon.menu_icon11 {background: url(../images/menu_icon11.png) 0 0 no-repeat; background-size:20px 19px;}