.ui-header { height:58px; border-bottom:1px solid #BDBDBD; background:#F7F7F7; display:block; position:relative; }
.ui-header .ui-btn-left, .ui-header .ui-btn-right { -moz-box-shadow:none !important; -webkit-box-shadow:none !important; box-shadow:none !important }
.ui-footer-fixed { border-top:4px solid #305885; }
.ui-mobile .ui-header, .ui-mobile .ui-footer { border-left-width:0; border-right-width:0; }
.ui-header-fixed, .ui-footer-fixed {
    /*left:0; right:0; top:0; width:100%; position:fixed; z-index:1000; */
    /*-webkit-backface-visibility:hidden;*/
}
.m_template1 { position:relative;
    margin-top:0px;
    /*margin-top:58px; */
}
.m_cover_template1 { position:relative;
    margin-top:0px;
    /*margin-top:58px;*/
}
.top_back_btn { position:absolute;top:14px; left:10px !important; border:none; background:none; background-image:none;
    /*-webkit-backface-visibility:hidden;*/
}
.top_back_btn .ui-icon { display:block; width:36px; height:36px; position:relative !important; top:0% !important; margin-top:0px !important; }
.top_back_btn .ui-icon-back { background-position:0px 0px; }
.top_back_btn .ui-icon, .top_back_btn:after { background:url(../images/top_back_btn.png) no-repeat 0 0;background-size:36px 36px; -webkit-border-radius:9px; border-radius:9px; }
.top_back_btn .ui-btn-inner { padding-top:4px; padding-left:0px !important }
.mainTopLogo { margin:0px !important; padding-top:14px !important; font-size:18px !important; line-height:35px; font-weight:bold }
.ui-header .ui-title { min-height:1.1em; text-align:center; font-size:16px; display:block; margin:.6em 30% .8em; padding:0; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; outline:0 !important; color:#000; }
