@charset "utf-8";
/* CSS Document */
/*마진과 패딩의 초기화*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td{margin:0; padding:0;}
/*헤더폰트 사이즈 초기화*/
h1, h2, h3, h4, h5, h6{font-size:100%}
/*리스트이 스타일 제거*/
ol, ul{list-style:none;}
/*폰트 강조 특성 초기화*/
address, caption, cite, code, dfn, th, var{font-style:normal; font-weight:normal;}
/*테이블 스타일 초기화*/
table{border-collapse:collapse;}
/*이미지 및 필드셋에서 보더표시 초기화*/
fieldset, img{border:0;/*vertical-align:bottom;*/}
/*캡션과 테이블헤더 텍스트 정렬 초기화 */
caption, th{text-align:left;}

html, body{font-family:'malgun gothic';font-size:15px;color:#555555; height:100%; letter-spacing:-0.5px;}

a{color:#555555; text-decoration: none;}
a:hover{}

.border_none{border:0px !important;}
.clear{clear:both;}

.container{position:relative; min-height:100%;}

.header{height:45px; background-color:#f5461e; width:100%; z-index:100000;}
.header h1{font-size:18px; line-height:45px; color:#ffffff; text-align:center;}

.content{}

/* 로그인 레이아웃 */
.login_container{background-image:url(../images/login_bg.jpg); background-color:#f5461e; background-size:100% 100%; min-height:100%; background-repeat:no-repeat; position:relative;}
.login_container .header{background:none;}
.login_container .content{}

/* 회원가입 */
.sign_container{background-image:url(../images/sign_bg.jpg); background-size:100% 100%; min-height:100%; background-repeat:no-repeat; position:relative;}
.sign_container .header{background:none;}

/* 회원 공용 */
.login_input{padding-top:50px;}
.login_input ul {border:1px solid #e5e5e5;background:rgba(0, 0, 0, 0.3) none repeat scroll 0 0 !important; border-radius:8px; margin:0 auto; margin-left:40px; margin-right:40px;}
.login_input ul li {position:relative;  height:50px;  padding:0px 20px 0px 55px;}
.login_input ul li:first-child{border-bottom:1px solid #e5e5e5;}

.login_input ul li em{ position:absolute; top:12px; left:20px; width:20px; height:22px;}
.login_input .user em{background-image:url(../images/user_icon.png); background-repeat:no-repeat; background-size:20px 19px; width:20px; height:22px; background-position:0px 2px;}
.login_input .pw em{background-image:url(../images/pw_icon.png); background-repeat:no-repeat; background-size:20px 22px; width:20px; height:22px;}

.login_input .pw_find{position:absolute; top:13px; right:15px; width:22px; height:22px; z-index:100;}
.login_input .pw_find a{display:block; width:22px; height:22px;  background-image:url(../images/find_icon.png); background-repeat:no-repeat; background-size:22px 22px; text-indent:-9999px;}

.login_input .user input[type="text"]{width:95%; border:0px; margin:0px !important; height:50px;  font-size:14px; background:none; color:#ffffff;}
.login_input .pw input[type="text"]{width:95%; border:0px; margin:0px !important; height:50px;  font-size:14px; background:none; color:#ffffff;}
.login_input .pw input[type="password"]{width:95%; border:0px; margin:0px !important; height:50px; font-size:14px; background:none; color:#ffffff;}


.login_btn{padding:15px 40px 15px 40px;}
.login_btn a{display:block; height:45px; line-height:45px; width:100%; background-color:#c9c9c9; color:#6e6e6e; text-align:center; font-weight:bold; font-size:18px; border-radius:6px;}
.login_input p{color:#c9c9c9; font-size:15px; padding:0px 40px 0px 30px; font-size:14px;}
.login_input p a{color:#ffffff; font-weight:bold; display:inline-block; padding:0px 10px; font-size:15px;}

.login_join{border:1px solid #e5e5e5; border-radius:8px; margin:0 auto; margin-left:40px; margin-right:40px; padding:30px; margin-top:50px;}
.login_join p {color:#ffffff; text-align:center; font-size:15px; line-height:26px;}
.login_join .join_btn {padding-top:20px;}
.login_join .join_btn a{color:#ffffff; font-weight:bold; display:block; padding:0px 10px; font-size:15px; background:rgba(0, 0, 0, 0.3) none repeat scroll 0 0 !important; border-radius:8px;display:block; height:45px; line-height:45px; text-align:center;border:1px solid #e5e5e5;}

.sign_input{margin:0 40px;}
.sign_input ul li {margin-bottom:10px; position:relative;background:rgba(0, 0, 0, 0.3) none repeat scroll 0 0 !important; border-radius:8px;border:1px solid #e5e5e5;}
.sign_input ul li a{color:#ffffff; font-weight:bold; display:block; padding:0px 10px; font-size:15px; display:block; height:45px; line-height:45px;}
.sign_input ul li em{background-image:url(../images/more_btn.png); background-repeat:no-repeat; background-size:16px 16px; width:16px; height:16px; position:absolute; right:10px; top:16px;}
.sign_input ul li span{display:block; height:40px; line-height:40px; width:60px; background-color:#c9c9c9; color:#6e6e6e; text-align:center; font-weight:bold; font-size:15px; border-radius:6px; position:absolute; top:5px; right:5px; z-index:100; cursor:pointer;}

.sign_input input[type="text"]{width:95%; border:0px; margin:0px !important; height:50px;  font-size:14px; background:none; color:#ffffff; padding-left:5%;}
.sign_input input[type="password"]{width:95%; border:0px; margin:0px !important; height:50px; font-size:14px; background:none; color:#ffffff; padding-left:5%;}

.sign_input p{ text-align:center;border:1px solid #e5e5e5; border-radius:8px; padding:30px; color:#ffffff; font-size:15px; line-height:26px;}
.sign_input p img{display:block; width:15%; height:15%; margin:0 auto; margin-bottom:15px;}
.sign_input p strong{display:block;border-bottom:1px solid #9b9491; padding-bottom:13px; margin-bottom:10px;}

.sign_input .next_btn {padding-top:20px; overflow:hidden;}
.sign_input .next_btn a{color:#ffffff; font-weight:bold; display:block; font-size:15px; border-radius:8px;display:block; height:45px; line-height:45px; text-align:center;border:1px solid #e5e5e5;}
.sign_input .next_btn .width_left{float:left; width:48%}
.sign_input .next_btn .width_right{float:right; width:48%}


.won{ text-align:center; padding-top:30px; padding-bottom:30px;}
.won span{display:inline-block; width:10px; height:10px; background-color:#716c6a; border-radius:1000000px; margin:0 5px;}
.won .on{background-color:#ffffff;}
.won .height_10{height:10px;}

.etc_text{ text-align:center; padding-top:30px; padding-bottom:30px; color:#ffffff; font-size:15px;}
